body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 13px;
  text-align: right;
}
h2 {
  font-size: 14px;
  text-align: center;
}
h3 {
  font-size: 13px;
}
:left {
  text-align: left;
}
:right {
  text-align: right;
}